.jumbotron {
    padding-top: 7rem;
}

* {
    font-family: 'Poppins' !important;
}

span {
    color: #560bad;
}

section {
    padding-top: 5rem;
}

.nav-item:hover {
    font-weight: 600;
    text-shadow: 0 0 12px white;
}

.card {
    margin-bottom: 1rem;
    transition: .3s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 20px #560bad !important;
}

#conUs,
#order,
#noTelp,
#email {
    transition: .3s;
}

#conUs:hover {
    background-color: #560bad;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 5px 10px;
    text-decoration: none;
}

#order:hover,
#noTelp:hover,
#email:hover {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.logo {
    transform: scale(0)rotate();
    transition: .3s;
}

.logo:hover {
    transform: scale(1.1) rotate(360deg);
}