.jumbotron {
    padding-top: 6rem;
}

* {
    font-family: 'Poppins';
}

a.team {
    text-decoration: none;
    color: #560bad;
}

section {
    padding-top: 5rem;
}
.nav-item:hover{
    font-weight: 600;
    text-shadow: 0 2px 5px white ;
}
.card {
    margin-bottom: 1rem;
    transition: .3s;
}

.card:hover {
    transform: scale(1.1);
}
#conUs, #order, #noTelp, #email{
    transition: .3s;
}
#conUs:hover{
    background-color: #560bad;
    color: white;
}
#order:hover,#noTelp:hover,#email:hover{
    color: white;
    font-weight: 700;
}
